body {
    width: 98%;
}
main{
    width: 75%;
    margin: auto;
}
header {
    float: right;
}
a {
    text-decoration: none;
}

a:hover {
    color: purple;
}
button a{
    color: black;
}

button {
    background-color: white;
}